fastapi
uvicorn
streamlit
torch
torchvision
transformers
pillow
ultralytics
huggingface_hub
python-multipart
requests
loguru
numpy
opencv-python-headless
fastapi
dill
mysql-connector-python

git+https://github.com/THU-MIG/yolov10.git